Content/StarterContent/HDRI/HDRI_Epic_Countryard_Daylight.uasset filter=lfs diff=lfs merge=lfs -text
Content/Game/Models/Climbing_Test/TheClockTower-Uncharted4_DM.uasset filter=lfs diff=lfs merge=lfs -text
